@page
@model MyApp.Namespace.CalculadoraModel
@{
}

<div>
    <h1>Calculadora</h1>
    <hr>
    <form action="" method="post">
        <input type="text" asp-for="N1">
        <input type="text" asp-for="N1">
        <button type="submit">procesar</button>
    </form>
</div>

<h3>Resultado @Model.Res</h3>